.cardImg_4X4{
	width : 125px;
	height: 125px;
}

.cardImg_6X6{
	width : 83.33px;
	height: 83.33px;
}

.cardImg_8X8{
	width : 62.5px;
	height: 62.5px;
}

.cardImg_10X10{
	width : 50px;
	height: 50px;
}
